body {
    background-color: aqua;
}

#lista {
    color: olive;
    color: olive;
    height: 500px;
    margin: auto;
    width: 40%;
    padding: 200px;
}
#lista:hover {
    background-color: aquamarine ;
  }
